/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color:beige;
}

.clearfix::after { 
    content: "";
    clear: both;
    display: table;
}

.wrapper .img-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10rem;

}

.wrapper .img-container img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.wrapper .img-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    font-weight: 300;
    transform: translate(-50%, 60%);
    color:white;
    font-style:italic;
    z-index: 200;
}

nav {
    width: 100%;
    padding: 6px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    width: 33.333333%;


    text-align: center;

    float: left;

    border-left: 1px solid #333;
    text-transform: uppercase;
}

nav ul li a {
    font-size: 18px;
    font-weight: 600;
    color:#333;
    text-decoration: none;
}

nav ul li:nth-of-type(1) {
    border: none
}

.fact h2 {
    margin: 5px;
}

.fact ul {
    margin: 20px;

}

.content {
    max-width: 900px;
}

.content img {
    width: 200px;
    float: left;
}

.contact form {
    border: 4px #333;
}

footer {
    text-align: right;
}

.form-element input {
    width: 600px;
    height: 30px;
}
 */
